CourseRegistrationSystem/Service References/ServiceReference2/CourseConfirmationProcess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseConfirmationProcess" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1663/CourseConfirmationProcess.xamlx?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1663/CourseConfirmationProcess.xamlx?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ConfirmClassId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmClassId" />
  </wsdl:message>
  <wsdl:message name="IService_ConfirmClassId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmClassIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveDecision_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveDecision" />
  </wsdl:message>
  <wsdl:message name="IService_ReceiveDecision_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveDecisionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ConfirmClassId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConfirmClassId" message="tns:IService_ConfirmClassId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConfirmClassIdResponse" message="tns:IService_ConfirmClassId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveDecision">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReceiveDecision" message="tns:IService_ReceiveDecision_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReceiveDecisionResponse" message="tns:IService_ReceiveDecision_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmClassId">
      <soap:operation soapAction="http://tempuri.org/IService/ConfirmClassId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveDecision">
      <soap:operation soapAction="http://tempuri.org/IService/ReceiveDecision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseConfirmationProcess">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:1663/CourseConfirmationProcess.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>