CourseRegistrationSystem/Service References/ServiceReference1/CourseCompletionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1663/CourseCompletionService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" />
  <xs:element name="GetSubsidyEligibleStudList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="classID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObligationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" minOccurs="0" name="filteredList" nillable="true" type="q1:ArrayOfSvcStudent" />
        <xs:element minOccurs="0" name="classID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObligationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" minOccurs="0" name="obligationFulfillList" nillable="true" type="q2:ArrayOfSvcStudent" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" minOccurs="0" name="obligationViolateList" nillable="true" type="q3:ArrayOfSvcStudent" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>