CourseRegistrationSystem/Service References/ServiceReference1/CourseCompletionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CourseRegistration.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSvcStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SvcStudent" nillable="true" type="tns:SvcStudent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSvcStudent" nillable="true" type="tns:ArrayOfSvcStudent" />
  <xs:complexType name="SvcStudent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParticipantId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SvcStudent" nillable="true" type="tns:SvcStudent" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female" />
      <xs:enumeration value="Male" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
</xs:schema>